<%@page contentType="text/html" pageEncoding="UTF-8"%>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Login</title>
    </head>
    <body>
        <form method="post" action="{{ url_for('mainpage') }}">
        Login: <br />
        <input type="text" name="username" /><br />
        Password: <br />
        <input type="text" name="password" /><br />
        <br />
        <input type="submit" value="Log In">
        </form>
    </body>
</html>
